{% extends 'main/base.html' %}
{% block body %}


            <div class="container-xxl py-5 bg-dark hero-header mb-5" style="background: linear-gradient(rgba(15, 23, 43, .5), rgba(15, 23, 43, .5)), url('{{ bg_img.bg_img.url }}');">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">{{ register_titles.title }}</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">{{ register_titles.home }}</a></li>
                            <li class="breadcrumb-item"><a href="#">{{ register_titles.pages }}</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">{{ register_titles.signup }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- Signup Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h3 class="section-title ff-secondary text-center text-primary fw-normal">{{ register_titles.subtitle }}</h5>
                </div>

                <div class="row g-4">
                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" name="username" id="name" placeholder="Username">
                                            <label for="name">{{ register_titles.username1 }}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name">
                                            <label for="first_name">{{ register_titles.firstname }}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name">
                                            <label for="last_name">{{ register_titles.lastname }}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
                                            <label for="email">{{ register_titles.email }}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" name="password1" id="password1" placeholder="Password">
                                            <label for="password">{{ register_titles.password1 }}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm Password">
                                            <label for="password">{{ register_titles.password2 }}</label>
                                        </div>
                                    </div>
                                    {{ form.captcha.as_widget }}
                                    <div class="col-md-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">{{ register_titles.btn }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Signup End -->


        {% endblock %}